<nz-layout>
    <nz-header>
        <div class="logo">
            <a  routerLink="/" target="_self">
                <img src="assets/icon.ico" alt="logo">
                <h1>横河电机 Sushi 管理平台</h1>
            </a>
        </div>
    </nz-header>
    <nz-content>
        <div class="inner-content">
            <app-settings></app-settings>
        </div>
    </nz-content>
    <nz-footer>
        <span>Yokogawa ©2024  </span>
        <span class="with-love"><i class="fa fa-heart" style="color: red"></i></span>
        <span>  By Sushi group</span>
    </nz-footer>
</nz-layout>
