<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a  routerLink="/" target="_self">
                <img src="assets/icon.ico" alt="logo">
                <h1>横河电机 Sushi 管理平台</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item routerLink="/dashboard">
                <i nz-icon nzType="dashboard" nzTheme="outline"></i>
                <span>Dashboard</span>
            </li>
            <li nz-menu-item routerLink="/downlink">
                <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
                <span>Downlink</span>
            </li>
            <li nz-menu-item routerLink="/uplink">
                <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>
                <span>Uplink</span>
            </li>
            <li nz-menu-item routerLink="/settings">
                <i nz-icon nzType="setting" nzTheme="outline"></i>
                <span>Settings</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
